
# Windows系统中此文件以GBK格式保存 

# 测试包
serial             # 串口
paho-mqtt          # MQTT库
jieba              # 分词
lxml               # 网页解析
Pillow             # 图像处理
Fabric             # 远程部署
Numpy              # 数据处理
PyeCharts          # 数据生成图表
Python-Docx        # Word文档
openpyxl           # Excel处理

ShortUUID          # 短UID
Scalene            # 内存分析
Pympler            # 内存资源统计
Loguru             # 日志输出
PySnooper          # 程序运行中数追踪
stackprinter       # 错误追踪
VeryPrettyTable    # 表格输出数据

Rich               # 命令行输出
Click              # 命令行脚本
Fire               # 命令行脚本

DBUtils            # 数据库连接池
PyMySQL            # MySQL数据库
PyMongo            # MongoDB数据库
Redis              # Redis数据库

Selenium           # 控制浏览器
BeautifulSoup4     # 网页解析

Requests           # 网络请求
Django             # Api接口开发 ORM
Tornado            # 异步Api接口开发
Flask              # 轻量级Api开发
FastApi            # Flask加强版
Jupyter            # 笔记本
JupyterLab         # 笔记本
Celery[redis]      # 异步任务 定时任务

# 仅Linux系统
# Twisted            # 网络编程

# 兼容性问题
# redis-py-cluster   # Redis集群
