jupyter

requests
tornado
django

serial
paho-mqtt
pysnooper
stackprinter
loguru
VeryPrettyTable

jieba
beautifulsoup4

Pillow

fabric

numpy

DBUtils
PyMySQL
PyMongo
redis
redis-py-cluster


lxml

selenium

shortuuid

twisted
